<h1>Hello <%= @user.name %></h1>
<p>Create a new event:</p>
<%= render 'events/event_form' %>

<% if current_user.events.any? %>
  <p><b>You have <%= pluralize(current_user.events.count, "active event") %></b></p>
  <ul>
    <%= render @created_events %>
  </ul>
<% end %>